{{define "block"}}
<div>
  <div class="p-2">
    <p>
      <strong>Block Number:</strong>
      {{.BlockNumber}}
    </p>
    <p>
      <strong>Transactions:</strong>
      {{.TotalTxs}}
    </p>
    <p><strong>Block Hash:</strong> {{.BlockHash}}</p>
    <p>
      <strong>RPC:</strong>
      {{.Rpc}}
    </p>
  </div>
  <table class="min-w-full leading-normal">
    <thead>
      <tr></tr>
      <tr>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider text-center"
        >
          Operation
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider text-center"
        >
          User ID
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider text-center"
        >
          Entity ID
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider text-center"
        >
          Metadata
        </th>
      </tr>
    </thead>
    <tbody class="text-gray-700 px-5">
      {{range $em := .ManageEntities}}
      <tr>
        <td class="text-center">{{$em.Action}}{{$em.EntityType}}</td>
        <td class="text-center">{{$em.UserID}}</td>
        <td class="text-center">{{$em.EntityID}}</td>
        <td class="text-center">{{$em.Metadata}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
