{{define "health"}}
<div>
  <table class="min-w-full leading-normal">
    <thead>
      <tr></tr>
      <tr>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider text-center"
        >
          Node ID
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider text-center"
        >
          Healthy
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider text-center"
        >
          Latest Block Height
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider text-center"
        >
          Catching Up
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider text-center"
        >
          Peers
        </th>
      </tr>
    </thead>
    <tbody class="text-gray-700 px-5">
      {{range $res := .Responses}}
      <tr>
        <td class="text-center">{{$res.NodeID}}</td>
        <td class="text-center">{{$res.IsHealthy}}</td>
        <td class="text-center">{{$res.LatestBlockHeight}}</td>
        <td class="text-center">{{$res.CatchingUp}}</td>
        <td class="text-center">{{$res.Peers}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
