<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Moshpit Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.8.0/dist/htmx.min.js"></script>
  </head>
  <body class="bg-gray-100 text-gray-900 font-sans">
    <div class="w-[100%] mx-auto p-5">
      <div
        id="stats-container"
        hx-get="/stats"
        hx-trigger="every 250ms"
        hx-swap="innerHTML"
        class="bg-white shadow-md rounded-lg p-4"
      >
        Loading stats...
      </div>
    </div>
    <div class="w-[100%] mx-auto p-5">
      <div
        id="health-container"
        hx-get="/health_stats"
        hx-trigger="every 250ms"
        hx-swap="innerHTML"
        class="bg-white shadow-md rounded-lg p-4"
      >
        Loading health...
      </div>
    </div>
    <div class="w-[100%] mx-auto p-5 dropdown-container">
      <div class="bg-white shadow-md rounded-lg p-4">
        <div class="flex justify-between items-center">
          <h1 class="text-3xl font-bold mt-4 mb-2">⛓️ Block Explorer 🔭</h1>
          <form
            id="data-form"
            class="flex flex-col space-y-2"
            hx-post="/get_block"
            hx-target="#result-div"
            hx-trigger="change from:#dropdown,change from:#number-input"
            hx-swap="innerHTML"
          >
            <div class="flex space-x-2">
              <select
                id="dropdown"
                name="option"
                required
                class="bg-white border border-gray-300 text-gray-700 py-2 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
              >
                <option value="0">Discovery 0</option>
                <option value="1" selected>Discovery 1</option>
                <option value="2">Discovery 2</option>
                <option value="3">Discovery 3</option>
                <option value="4">Discovery 4</option>
                <option value="5">Discovery 5</option>
                <option value="6">Discovery 6</option>
              </select>

              <input
                type="number"
                id="number-input"
                name="Block Number"
                required
                placeholder="blocknumber"
                value="2"
                min="1"
                class="bg-white border border-gray-300 text-gray-700 py-2 px-4 rounded leading-tight focus:outline-none focus:border-purple-500"
              />

              <input type="submit" value="" />
            </div>
          </form>
        </div>

        <div id="result-div"></div>

        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("data-form");

            // Function to trigger the HTMX request
            function triggerHtmxRequest() {
              const dropdown = document.getElementById("dropdown").value;
              const numberInput = document.getElementById("number-input").value;
              if (dropdown && numberInput) {
                htmx.trigger("#data-form", "submit"); // Trigger the HTMX request
              }
            }

            // Add event listener for form submission
            if (form) {
              form.addEventListener("submit", function (event) {
                event.preventDefault(); // Prevent the default form submit action
                triggerHtmxRequest(); // Call the function to trigger the HTMX request
              });
            }

            // Call the function on initial page load
            triggerHtmxRequest();
          });
        </script>
      </div>
    </div>
  </body>
</html>
