{{define "stats"}}
<div>
  <h1 class="text-3xl font-bold mt-4 mb-2">Statistics Dashboard</h1>
  <p>
    <strong>Total Successful Transactions:</strong>
    {{.TotalSuccessfulTransactions}}
  </p>
  <p><strong>Total Node Count:</strong> {{.TotalNodeCount}}</p>
  <p>
    <strong>Transaction Interval (ms):</strong> {{.TransactionIntervalMillis}}
  </p>
  <p><strong>Requests Per Interval:</strong> {{.ParallelRequests}}</p>
  <p><strong>Requests Per Second:</strong> {{.RPS}}</p>
  <table class="min-w-full leading-normal">
    <thead>
      <tr></tr>
      <tr>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          Node
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          Attempted
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          Successes
        </th>
        <th
          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          Failures
        </th>
      </tr>
    </thead>
    <tbody class="text-gray-700">
      {{range $node, $txns := .NodeTotalAttempted}}
      <tr>
        <td>{{$node}}</td>
        <td>{{index $.NodeTotalAttempted $node}}</td>
        <td>{{index $.NodeTotalSuccesses $node}}</td>
        <td>{{index $.NodeTotalFailures $node}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
